html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px;
	font-family: sans-serif;
}

.header {
    padding: 10px;
    border-bottom: 1px solid grey;
	text-align: center;
}

/* Header text appears black regardless of state */
.header a:link {
	color: black;
	text-decoration: none;
}

.header a:hover {
	text-decoration: underline;
	color: black;
}

.header a:visited {
	color: black;
}

.content {	
}

.post-heading a:link {
    text-decoration: none;
}

.post-heading a:hover {
    text-decoration: underline;
}

.post-heading a:visited {
	color: blue;
}

.footer {
    position: ablsolute;
    left: 0;
    bottom: 0;
    color: grey;
    padding: 10px;
    border-top: 1px solid grey;
    text-align: center;
	height: 100px;
	overflow: hidden;
}


