/* dominant color: rgb(255, 162, 54)
	compliment color: rgb(54, 194, 255) 
    Sticky footer uses code from https://css-tricks.com/couple-takes-sticky-footer/#article-header-id-3 
*/

html, body {
	height: 100%;
}

body {
	margin: 0;
	font-family: sans-serif;
	display: flex;
	flex-direction: column;
}

.header {
    	text-align: center;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

/* Header text appears black regardless of state */
.header a:link {
   	text-decoration: none;
	color: rgb(255, 162, 54);
}

.header a:hover {
   	text-decoration: underline;
	color: rgb(255, 162, 54);
}

.header a:visited, a:active {
	color: rgb(255, 162, 54);
}

.content {
	/* parent of preview */
	display: flex;
	flex-direction: column;
	/* child of body */
	flex: 1 0 auto;
	/* aesthetics */
	width: 40em;
	margin: 0 auto;
	padding: 10px;
}

.preview {
	flex: 1 0 auto;
}

.post-heading a:link {
    	text-decoration: none;
	color: rgb(54, 194, 255);
}

.post-heading a:hover {
    	text-decoration: underline;
}

.post-heading a:visited {
    	color: rgb(54, 194, 255);
}

#all a:link {
	text-decoration: none;
	color: rgb(54, 194, 255);
}

#all a:hover {
	text-decoration: underline;
}

#all a:visited, a:active {
	color: rgb(54, 194, 255);
}

.footer {
	flex-shrink: 0;
    	color: rgb(54, 194, 255);
   	text-align: center;
	background-color: rgba(54, 194, 255, 0.2);	
}
