/* Sticky footer uses code from https://css-tricks.com/couple-takes-sticky-footer/#article-header-id-3 */

html, body {
    height: 100%;
}

body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

.header {
    border-bottom: 1px solid grey;
    text-align: center;
}

/* Header text appears black regardless of state */
.header a:link {
    color: black;
    text-decoration: none;
}

.header a:hover {
    text-decoration: underline;
    color: black;
}

.header a:visited {
    color: black;
}

.content {
    padding: 10px;
    flex: 1 0 auto;
}

.post-heading a:link {
    text-decoration: none;
}

.post-heading a:hover {
    text-decoration: underline;
}

.post-heading a:visited {
    color: blue;
}

.footer {
    flex-shrink: 0;
    color: grey;
    border-top: 1px solid grey;
    text-align: center;
}
